// Base text size
$pixelBase : 10;

// Colours
$primary-color: #e5127d;

// Font colours
$body-text-color: #4a4a4a;

// Variables for site fonts
$title-font: "Antonio", Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body-font: "Source Sans Pro", Arial, 'Helvetica Neue', Helvetica, sans-serif;
